#combinacoes-componentes {
  //display: flex;
  background-color: beige;
 // width: 99%;
  border-radius: 4px;
 // height: 99%;
}

#combinacoes-componentes {
  .combinacao {
    background-color: aqua;
    width: 94px;
    height: 124px;
  }
  .titulo{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
