.components {
    overflow: hidden;
    height: 100%;
  }
  
  .navigation {
    position: relative;
    padding: 10px;
  
    .mat-list-item {
      position: relative;
      cursor: pointer;
    }
  }
  
  .content {
    padding: 10px;
  }
  